Makefile.in
aclocal.m4
autom4te.cache
bwctmb/config.h.in
compile
configure
depcomp
install-sh
missing
.deps
Makefile
bwctmb/config.h
bwctmb/stamp-h1
config.log
config.status
libbwctmb-config
*.o
libbwctmb-*.tar.gz
libbwctmb.a
